<input type="text" role="searchbox" id="search-box" (change)="search()" placeholder="Search">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Client ID</th>
      <th>Client Name</th>
      <th>Client Program</th>
      <th>View/Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.program }}</td>
      <td><button role="link" [routerLink]="['/clients', client.id]">View/Edit</button></td>
      <td><button (click)="deleteClient(client.id, $event)">Delete</button></td>
    </tr>
  </tbody>
</table>

<dialog autofocus id="deletion-confirmation">
  <h2>Are you sure you want to delete this client?</h2>
  <button id="del-yes">Yes</button>
  <button id="del-no">No</button>
</dialog>
