<!--Benjamin Barnett | Student ID: 23776070
PROG2005 Assignment 2 Part 2-->
<p>Welcome to the Personal Trainer Client Management Application.
  This application can help you manage your clients, along with their contact details, fitness regime, and other details.
</p>
<p>
  You can add new clients, view and edit existing clients, and delete clients. Refer to the <a [routerLink]="['/help']">Help page</a> for more information on how to use the app.
</p>
<p>
  This application is built using Angular.
</p>
<p>
  Built by Benjamin Barnett | Student ID 23776070.
</p>
