<!--Benjamin Barnett | Student ID: 23776070
PROG2005 Assignment 2 Part 2-->

<h2>Privacy and Security</h2>

<h3>Summary</h3>
<p>This application stores and processes the data you supply to it. All data is stored only in memory on your device, and is not retained after your browser session completes.</p>
<p>The data stored and processed includes client data you provide, your IP address, and other technical details.</p>

<p>For more information, please read the full privacy notice below.</p>
<hr/>
<h3>What data is collected?</h3>
<p>The application collects the following data:</p>
<ul>
  <li>Client information you supply to the application via forms, including:</li>
  <ul>
    <li>Name</li>
    <li>Client ID</li>
    <li>Email address</li>
    <li>Phone number</li>
    <li>Fitness program</li>
    <li>Gender</li>
    <li>Date of birth</li>
    <li>Start/end dates of fitness program</li>
    <li>Notes</li>
    <li>VIP status</li>
  </ul>
  <li>
    Usage data required for the application to function, including:
    <ul>
      <li>IP address</li>
      <li>Browser type, viewport dimensions, device type (phone/computer/tablet)</li>
      <li>Timestamps and logs of application access</li>
    </ul>
  </li>
</ul>

<h3>Why is data collected?</h3>
<p>Data is only collected as is necessary to provide a service to you.
For example, client data is only collected in order to display the client data to you. Usage data (like IP address) is collected only to allow the application to function and continue delivering services to you.
</p>

<h3>How is data stored?</h3>
<p>Data is stored on your device, in memory. Refreshing or closing the browser tab will clear all stored data and reset the application to it's defaults. Data is not sent outside of your device by the application.</p>
<p>Data is secured by not being retained. </p>

<h3>Health Data</h3>
<p>If you choose to store health data using this application, it is your responsibility to ensure that the health data is managed in accordance with local regulations.</p>

