td{
  padding: 2px;
}

th{
  padding: 12px;
}

table{
  text-align: left;
  max-width: 100%;
  overflow-x: scroll;
}

dialog[open]{
  display: block;
}

dialog{
  display: none;
}

#search-box{
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
