/* You can add global styles to this file, and also import other style files */
* {
  font-family: Inter;
}

body {
  /* not worth supporting tiny screens (smaller than a small phone). */

  min-height: 90vh;
  font-size: 16px;
  line-height: 1.5;
  max-width: 750px;
  background-color: #333333;
  color: #eeeeee;
}

@media (min-width: 600px) {

  body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  justify-self: center;}
}

a{
  color: #a0a0a0;
}

a:hover {
  color: #ffffff;
}

.left {
  text-align: left;
  align-self: start;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
}

