/* You can add global styles to this file, and also import other style files */
* {
  font-family: Inter;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  min-height: 90vh;
  font-size: 16px;
  line-height: 1.5;
  max-width: 750px;
  background-color: #333333;
  color: #eeeeee;
}

a{
  color: #a0a0a0;,
}

a:hover {
  color: #ffffff;
}

.left {
  text-align: left;
  align-self: start;
}

